/* Main Containers */

    html{
        height:100vh;
        font-size:62.5%;
        color:white;
        fill: white;    
        background: hsl(257, 40%, 49%) url(images/bg-mobile.svg) no-repeat;
        background-size: clamp(37rem,100vw,100vw);
    }

    body{
        margin: auto;
        display: grid;
        text-align: center;
        grid-template-columns: minmax(37rem,1fr);
        grid-template-rows: 12rem 1fr 1fr;
        grid-template-areas:"header"
                            "main"
                            "social";
    }

    *{
        height: 100%;
        width: 100%;
        box-sizing: border-box; 
        font-family: 'Poppins', sans-serif;
    }

/* Sub-Containers I */

    header{
        grid-area: header;
    }

    main{
        grid-area: main;
        display: grid;
        grid-template-rows: auto minmax(30rem,1.2fr);
        grid-template-areas:"mockup"
                            "copy";
    }

    section{
        grid-area: social;
    }

/* Sub-Containers II */

    .mockup{
        grid-area: mockup;
    }

    .copy{
        grid-area:copy;
        padding:clamp(0rem,4.5vh,4rem) 2.8rem 0 2.8rem;
    }

    .button{
        margin-top:3vh;
        height:fit-content;
    }

    .socials{
        display: flex;
        justify-content: center;
        padding-top:clamp(2rem,6vh,5rem);
    }

/* Sub-Containers III */

    .logo img{
        width:14rem;
        float:left;
        margin-left:2.5rem;
        padding-bottom:2.5rem;
    }

    .mockup img{
        width:clamp(30rem,80vw,50rem);
    }

    h1{
        font-size: clamp(2rem, 6.8vw, 2.5rem); 
    }

    p{
        font-family: 'Open Sans', sans-serif;
        font-size: clamp(1.3rem, 4.5vw, 1.8rem);
        line-height:max(2.7rem,2vw);
    }

    button{
        padding-top: .4rem;
        color: hsl(257, 40%, 49%);
        background-color: white;
        border: none;
        border-radius: 3rem;  
        box-shadow: .1rem .4rem .8rem hsl(257, 40%, 30%);
        font-size: 1.4rem;
        width: clamp(15rem,61vw,22rem);
        height:4.5rem;
    }

    .socials svg{
        width: clamp(2rem,8vw,3.5rem);
        height:fit-content;
    }

    h1,p{
        height:fit-content;
    }

/* Pseudo-Classes */

    :hover{
        cursor: pointer;
    }

    button:hover{
        background-color:hsl(300, 69%, 71%);
    }

    .socials svg:nth-child(1), :nth-child(2){
        margin-right: 1rem;
    }

    .socials svg:hover{
        fill:hsl(300, 99%, 61%);
    }

/*Media Queries*/

@media screen and (orientation:landscape){

/*Main Containers*/

    html{
        background:hsl(257, 40%, 49%) url(images/bg-desktop.svg) no-repeat;
        /* background-size: 95vw auto; */
        background-size: auto 100vh;
    }

    body{
        text-align: left;
        grid-template-columns: minmax(95rem,1fr);
        grid-template-rows: 20rem 6fr 1fr;
    }

/* Sub-Containers I */

    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:"mockup copy";
    }
 
/* Sub-Containers II */

    .mockup{
        width:100%;
    }

    .copy{
        padding:2rem 7% 0 7%;
    }

    .socials{
        justify-content:flex-end;
        padding:0 4.5rem 0 0;
        
    }

/* Sub-Containers III */

    .logo img{
        width: 20rem;
    }

    .mockup img{
        width:clamp(50rem,51.6vw,120rem);
        object-fit: contain;
        object-position: top;
    }

    .logo img, .mockup img{
        margin-left: 4.8vw;
        padding:0;
    }
    
    h1{
        font-size:clamp(2.5rem,2.8vw,6rem);
    }

    p{
        font-size:clamp(1.4rem,1.3vw,3rem); 
    }

/* Pseudo-Classes */

    .socials svg:nth-child(1), :nth-child(2){
        margin-right: 1.5rem;
    }
}